body {
    background: #EEEECC;
    /* background-image: url(images/HG01.JPG); */
    font-family: Arial, Helvetica, sans-serif;
    color: black;    text-align: center;}canvas {    background: white;    border: 2px solid #666;}